.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 14px;
  font-weight: 700;
}

.filters > div {
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 800px) {
  .filters {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
